Repository jenkinsci/git-plugin, pull requests merged in 2019-12, with the labels that each got.

#792 [JENKINS-26660] Expose 'cleanSubmodules' functionality to Jenkins UI
  src/main/java/hudson/plugins/git/extensions/impl/CleanBeforeCheckout.java
  src/main/java/hudson/plugins/git/extensions/impl/CleanCheckout.java
  src/main/java/jenkins/plugins/git/traits/CleanAfterCheckoutTrait.java
  src/main/java/jenkins/plugins/git/traits/CleanBeforeCheckoutTrait.java
  src/main/resources/hudson/plugins/git/extensions/impl/CleanBeforeCheckout/config.groovy
  src/main/resources/hudson/plugins/git/extensions/impl/CleanBeforeCheckout/help-deleteUntrackedNestedRepositories.html
  src/main/resources/hudson/plugins/git/extensions/impl/CleanCheckout/config.groovy
  src/main/resources/hudson/plugins/git/extensions/impl/CleanCheckout/help-deleteUntrackedNestedRepositories.html
  src/test/java/hudson/plugins/git/extensions/impl/CleanBeforeCheckoutTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CleanCheckoutTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTraitsTest.java
  src/test/resources/jenkins/plugins/git/GitSCMSourceTraitsTest/cleancheckout_v1_extension.xml
  src/test/resources/jenkins/plugins/git/GitSCMSourceTraitsTest/cleancheckout_v1_trait.xml
  src/test/resources/jenkins/plugins/git/GitSCMSourceTraitsTest/cleancheckout_v2_extension.xml
  src/test/resources/jenkins/plugins/git/GitSCMSourceTraitsTest/cleancheckout_v2_trait.xml
  src/test/resources/jenkins/plugins/git/GitSCMSourceTraitsTest/pimpped_out.xml
Labels: feature

#798 Fix repository leak in AbstractGitSCMSource.retrieve
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
Labels: bugfix

#800 Don't use pre-sized arrays on array conversion
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/RemoteConfigConverter.java
  src/main/java/hudson/plugins/git/SubmoduleConfig.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
Labels: chore

#801 Remove unused assignments
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/browser/GitLab.java
  src/main/java/hudson/plugins/git/extensions/impl/CloneOption.java
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
Labels: chore

#797 Update dependencies and docs for 4.1 release
  .dependabot/config.yml
  README.adoc
  images/signe-1923369_640.png
  pom.xml
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/traits/CleanAfterCheckoutTrait.java
  src/main/java/jenkins/plugins/git/traits/CleanBeforeCheckoutTrait.java
  src/test/java/hudson/plugins/git/AbstractGitProject.java
  src/test/java/hudson/plugins/git/GitTagActionTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/AbstractGitTagMessageExtensionTest.java
Labels: documentation

#802 Avoid cleanup failures in GitStatusTest & GitSCMTest
  src/test/java/hudson/plugins/git/AbstractGitTestCase.java
  src/test/java/hudson/plugins/git/CredentialsUserRemoteConfigTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: test

#751 Cleanup some deprecated code and TODOs
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitTagAction.java
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/extensions/impl/PreBuildMerge.java
  src/main/java/hudson/plugins/git/extensions/impl/PruneStaleBranch.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/test/java/hudson/plugins/git/CredentialsUserRemoteConfigTest.java
  src/test/java/hudson/plugins/git/GitChangeSetBadArgsTest.java
  src/test/java/hudson/plugins/git/MultipleSCMTest.java
  src/test/java/hudson/plugins/git/SCMTriggerTest.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CheckoutOptionWorkflowTest.java
  src/test/java/hudson/plugins/git/extensions/impl/MessageExclusionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/PathRestrictionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/PreBuildMergeTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitStepTest.java
Labels: ShortTerm, removed

#767 [JENKINS-59540] Add annotation to getUrl
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitSCMTelescope.java
Labels: ShortTerm, bugfix

#694 [JENKINS-60564] Rebase before push
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/resources/hudson/plugins/git/GitPublisher/config.jelly
  src/test/java/hudson/plugins/git/GitPublisherTest.java
Labels: ShortTerm, feature

#803 Update dependencies
  .sonarcloud.properties
  pom.xml
Labels: dependencies

#805 Replace html i tags with em
  src/main/resources/hudson/plugins/git/GitSCM/help-userRemoteConfigs.html
  src/main/resources/hudson/plugins/git/GitSCM/help-userRemoteConfigs_ja.html
Labels: chore

#806 Doc improvements (links, tags, etc.)
  src/main/resources/hudson/plugins/git/UserRemoteConfig/help-refspec.html
  src/main/resources/hudson/plugins/git/UserRemoteConfig/help-refspec_ja.html
  src/main/resources/hudson/plugins/git/browser/AssemblaWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/BitbucketWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/FisheyeGitRepositoryBrowser/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GitLab/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GitList/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GitWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GithubWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/Gitiles/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GitoriousWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/KilnGit/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/Phabricator/help-repo.html
  src/main/resources/hudson/plugins/git/browser/Phabricator/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/RedmineWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/RhodeCode/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/Stash/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/TFS2013GitRepositoryBrowser/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/ViewGitWeb/help-projectName.html
  src/main/resources/hudson/plugins/git/browser/ViewGitWeb/help-repoUrl.html
  src/main/resources/hudson/plugins/git/extensions/impl/CheckoutOption/help-timeout.html
  src/main/resources/hudson/plugins/git/extensions/impl/CheckoutOption/help-timeout_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/CloneOption/help-timeout.html
  src/main/resources/hudson/plugins/git/extensions/impl/CloneOption/help-timeout_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/DisableRemotePoll/help.html
  src/main/resources/hudson/plugins/git/extensions/impl/DisableRemotePoll/help_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/MessageExclusion/help-excludedMessage.html
  src/main/resources/hudson/plugins/git/extensions/impl/MessageExclusion/help-excludedMessage_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/PathRestriction/help-excludedRegions.html
  src/main/resources/hudson/plugins/git/extensions/impl/PathRestriction/help-excludedRegions_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/PathRestriction/help-includedRegions.html
  src/main/resources/hudson/plugins/git/extensions/impl/PathRestriction/help-includedRegions_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/RelativeTargetDirectory/help-relativeTargetDir.html
  src/main/resources/hudson/plugins/git/extensions/impl/RelativeTargetDirectory/help-relativeTargetDir_ja.html
  src/main/resources/hudson/plugins/git/extensions/impl/SubmoduleOption/help-timeout.html
  src/main/resources/hudson/plugins/git/extensions/impl/SubmoduleOption/help-timeout_ja.html
Labels: chore
