Repository jenkinsci/git-plugin, pull requests merged in 2019-08, with the labels that each got.

#739 Test with JCasC 1.25
  pom.xml
Labels: no-changelog

#679 [JENKINS-56189] Add Sparse Checkout SCM trait
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
  src/main/java/jenkins/plugins/git/traits/SparseCheckoutPathsTrait.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTraitsTest.java
Labels: enhancement

#742 Fix JENKINS-58964 - Lost modern SCM with older workflow cps global lib
  pom.xml
  src/test/java/jenkins/plugins/git/ModernScmTest.java
Labels: bug

#744 Add Issue annotations to some existing tests
  src/test/java/hudson/plugins/git/BranchSpecTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/UserMergeOptionsTest.java
  src/test/java/jenkins/plugins/git/ModernScmTest.java
Labels: no-changelog

#743 Test with JCasC 1.27
  pom.xml
  src/test/java/jenkins/plugins/git/GitJCasCCompatibilityTest.java
Labels: no-changelog
