Repository jenkinsci/git-plugin, pull requests merged in 2019-10, with the labels that each got.

#769 Bump equalsverifier from 3.1.9 to 3.1.10
  pom.xml
Labels: dependencies

#770 Use JCasC version from BOM
  pom.xml
Labels: dependencies

#774 Depend on promoted builds 3.4
  pom.xml
  src/main/java/hudson/plugins/git/GitRevisionBuildParameters.java
Labels: dependencies

#771 Configure Gitlab browser with JCasC, add JCasC tests
  pom.xml
  src/main/java/hudson/plugins/git/browser/casc/GitLabConfigurator.java
  src/test/java/hudson/plugins/git/browser/casc/GitLabConfiguratorTest.java
  src/test/java/jenkins/plugins/git/BrowsersJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GitSCMJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GitToolJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GlobalLibraryWithLegacyJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GlobalLibraryWithModernJCasCCompatibilityTest.java
  src/test/resources/jenkins/plugins/git/browsers-casc.yaml
  src/test/resources/jenkins/plugins/git/gitscm-casc.yaml
  src/test/resources/jenkins/plugins/git/global-with-legacy-casc.yaml
  src/test/resources/jenkins/plugins/git/global-with-modern-casc.yaml
  src/test/resources/jenkins/plugins/git/tool-casc.yaml
Labels: bugfix

#777 Depend on promoted builds 3.2
  pom.xml
Labels: dependencies

#778 Use git client 3.0.0-beta12
  pom.xml
  src/test/java/jenkins/plugins/git/GitToolJCasCCompatibilityTest.java
Labels: dependencies

#779 Improve documentation
  CHANGELOG.adoc
  CONTRIBUTING.md
  README.adoc
  README.md
Labels: documentation, hacktoberfest
