Repository jenkinsci/git-plugin, pull requests merged in 2019-07, with the labels that each got.

#732 [JENKINS-42609] Improve env var descriptions
  src/main/resources/hudson/plugins/git/GitSCM/buildEnv.properties
Labels: enhancement

#708 [JENKINS-43802] Implementing retrieve/retrieveRevisions with an Item context
  pom.xml
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
Labels: bug

#736 Backport pr 708
  pom.xml
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
Labels: bug

#737 Update pom to latest parent and latest checkstyle
  .dependabot/config.yml
  pom.xml
Labels: no-changelog
