Repository jenkinsci/git-plugin, pull requests merged in 2019-09, with the labels that each got.

#747 Replace JGit 4.5 getRef with findRef or exactRef
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: no-changelog

#749 Bump checkstyle from 8.23 to 8.24
  pom.xml
Labels: no-changelog

#748 Use non-deprecated methods and remove unused imports
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitRevisionBuildParameters.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/main/java/hudson/plugins/git/GitTagAction.java
  src/main/java/hudson/plugins/git/RevisionParameterAction.java
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/browser/AssemblaWeb.java
  src/main/java/hudson/plugins/git/browser/BitbucketWeb.java
  src/main/java/hudson/plugins/git/browser/CGit.java
  src/main/java/hudson/plugins/git/browser/FisheyeGitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/GitBlitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/GitList.java
  src/main/java/hudson/plugins/git/browser/GitWeb.java
  src/main/java/hudson/plugins/git/browser/GithubWeb.java
  src/main/java/hudson/plugins/git/browser/Gitiles.java
  src/main/java/hudson/plugins/git/browser/GitoriousWeb.java
  src/main/java/hudson/plugins/git/browser/KilnGit.java
  src/main/java/hudson/plugins/git/browser/Phabricator.java
  src/main/java/hudson/plugins/git/browser/RedmineWeb.java
  src/main/java/hudson/plugins/git/browser/Stash.java
  src/main/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/ViewGitWeb.java
  src/main/java/hudson/plugins/git/extensions/GitSCMExtensionDescriptor.java
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPath.java
  src/main/java/hudson/plugins/git/util/BuildChooser.java
  src/main/java/hudson/plugins/git/util/BuildChooserDescriptor.java
  src/main/java/hudson/plugins/git/util/DefaultBuildChooser.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
  src/main/java/hudson/plugins/git/util/InverseBuildChooser.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMFile.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSourceRequest.java
  src/main/java/jenkins/plugins/git/MergeWithGitSCMExtension.java
  src/main/java/jenkins/plugins/git/traits/GitBrowserSCMSourceTrait.java
  src/main/java/jenkins/plugins/git/traits/GitSCMExtensionTrait.java
  src/main/java/jenkins/plugins/git/traits/GitSCMExtensionTraitDescriptor.java
  src/main/java/jenkins/plugins/git/traits/GitToolSCMSourceTrait.java
  src/main/java/jenkins/plugins/git/traits/IgnoreOnPushNotificationTrait.java
  src/main/java/jenkins/plugins/git/traits/RefSpecsSCMSourceTrait.java
  src/main/java/jenkins/plugins/git/traits/RemoteNameSCMSourceTrait.java
  src/main/java/jenkins/plugins/git/traits/TagDiscoveryTrait.java
  src/test/java/hudson/plugins/git/CredentialsUserRemoteConfigTest.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/RevisionParameterActionTest.java
  src/test/java/hudson/plugins/git/browser/GitLabWorkflowTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CheckoutOptionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/PreBuildMergeTest.java
  src/test/java/hudson/plugins/git/extensions/impl/SubmoduleOptionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/UserExclusionTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/traits/GitSCMExtensionTraitTest.java
Labels: no-changelog

#750 Remove MethodUtils - use Util class
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/MethodUtils.java
Labels: no-changelog

#753 Disable maven source cross references
  pom.xml
Labels: no-changelog

#756 Read GitHub for plugins.jenkins.io docs
  README.md
  pom.xml
Labels: enhancement

#757 Fix the markdown
  README.md
Labels: no-changelog

#765 Document additional checkout behaviours
  README.md
Labels: documentation

#763 Add localization support
  src/main/java/hudson/plugins/git/extensions/impl/CheckoutOption.java
  src/main/java/hudson/plugins/git/extensions/impl/CloneOption.java
  src/main/java/hudson/plugins/git/extensions/impl/LocalBranch.java
  src/main/java/hudson/plugins/git/extensions/impl/RelativeTargetDirectory.java
  src/main/java/hudson/plugins/git/extensions/impl/SubmoduleOption.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/traits/CloneOptionTrait.java
  src/main/resources/hudson/plugins/git/Messages.properties
  src/main/resources/hudson/plugins/git/extensions/impl/Messages.properties
  src/main/resources/jenkins/plugins/git/Messages.properties
  src/main/resources/jenkins/plugins/git/traits/Messages.properties
Labels: enhancement

#766 [JENKINS-59415] run context for GitSCMExtension
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/extensions/GitSCMExtension.java
Labels: feature
