Repository jenkinsci/git-plugin, pull requests merged in 2020-06, with the labels that each got.

#899 Resolve deprecations in main
  Jenkinsfile
  src/main/java/hudson/plugins/git/GitChangeLogParser.java
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/main/java/hudson/plugins/git/RemoteConfigConverter.java
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/browser/casc/GitLabConfigurator.java
  src/main/java/hudson/plugins/git/extensions/impl/CleanBeforeCheckout.java
  src/main/java/hudson/plugins/git/extensions/impl/CloneOption.java
  src/main/java/hudson/plugins/git/extensions/impl/PruneStaleBranch.java
  src/main/java/hudson/plugins/git/util/BuildChooser.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSourceDefaults.java
  src/main/java/jenkins/plugins/git/MergeWithGitSCMExtension.java
  src/test/java/hudson/plugins/git/AbstractGitProject.java
  src/test/java/hudson/plugins/git/AbstractGitTestCase.java
  src/test/java/hudson/plugins/git/GitChangeSetTest.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitStatusMultipleSCMTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/hudson/plugins/git/SCMTriggerTest.java
  src/test/java/hudson/plugins/git/TestGitRepo.java
  src/test/java/hudson/plugins/git/UserMergeOptionsTest.java
  src/test/java/hudson/plugins/git/UserRemoteConfigTest.java
  src/test/java/hudson/plugins/git/browser/GitLabTest.java
  src/test/java/hudson/plugins/git/browser/GitRepositoryBrowserTest.java
  src/test/java/hudson/plugins/git/browser/GithubWebTest.java
  src/test/java/hudson/plugins/git/browser/casc/GitLabConfiguratorTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionDepthTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionNoTagsTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionShallowDefaultTagsTest.java
  src/test/java/hudson/plugins/git/extensions/impl/WipeWorkspaceTest.java
  src/test/java/hudson/plugins/git/util/AncestryBuildChooserTest.java
  src/test/java/hudson/plugins/git/util/CommitTimeComparatorTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTrivialTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
  src/test/java/jenkins/plugins/git/GitBranchSCMHeadTest.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTraitsTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
Labels: chore

#900 Add images to improve docs clarity
  README.adoc
  images/git-advanced-checkout-behaviors.png
  images/git-advanced-clone-behaviours.png
  images/git-advanced-sub-modules-behaviours.png
  images/git-calculate-changelog-against-a-specific-branch.png
  images/git-checkout-to-a-sub-directory.png
  images/git-checkout-to-specific-local-branch.png
  images/git-clean-after-checkout.png
  images/git-clean-before-checkout.png
  images/git-create-a-tag-for-every-build.png
  images/git-custom-user-name-e-mail-address.png
  images/git-do-not-trigger-a-build-on-commit-notifications.png
  images/git-force-polling-using-workspace.png
  images/git-global-configuration.png
  images/git-lfs-pull-after-checkout.png
  images/git-merge-before-build.png
  images/git-polling-ignores-commits-from-certain-users.png
  images/git-polling-ignores-commits-in-certain-paths.png
  images/git-polling-ignores-commits-with-certain-messages.png
  images/git-prune-stale-remote-tracking-branches.png
  images/git-prune-stale-tags.png
  images/git-repository-browser-assemblaweb.png
  images/git-repository-browser-bitbucket.png
  images/git-repository-browser-cgit.png
  images/git-repository-browser-fisheye.png
  images/git-repository-browser-gitblit.png
  images/git-repository-browser-github.png
  images/git-repository-browser-gitiles.png
  images/git-repository-browser-gitlab.png
  images/git-repository-browser-gitlist.png
  images/git-repository-browser-gitweb.png
  images/git-repository-browser-gogs.png
  images/git-repository-browser-kiln.png
  images/git-repository-browser-microsoft.png
  images/git-repository-browser-phabricator.png
  images/git-repository-browser-redmine.png
  images/git-repository-browser-rhodecode.png
  images/git-repository-browser-stash.png
  images/git-repository-browser-viewgit.png
  images/git-repository-browser.png
  images/git-repository-configuration.png
  images/git-sparse-checkout-paths.png
  images/git-strategy-for-choosing-what-to-build.png
  images/git-use-commit-author-in-changelog.png
  images/git-wipe-out-repository-and-force-clone.png
  images/signe-1923369_640.png
  src/main/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowser.java
Labels: documentation

#901 Added help page for 'Show the entire commit summary in changes'
  src/main/resources/hudson/plugins/git/GitSCM/help-showEntireCommitSummaryInChanges.html
Labels: documentation

#902 Temporary cleanup no longer needed in Jenkinsfile
  Jenkinsfile
Labels: skip-changelog

#909 [JENKINS-62710] Ignore arithmetic exception in helper message
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: bugfix

#910 Allow wider range of file system times
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
Labels: test

#914 [JENKINS-57587] Prevent GitSCMFileSystem NPE on '*' branch name
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
Labels: bugfix
