Repository jenkinsci/git-plugin, pull requests merged in 2020-03, with the labels that each got.

#841 [JENKINS-48625] Restore binding of doCheckUrl methods and add some initial checks
  pom.xml
  src/main/java/hudson/plugins/git/browser/AssemblaWeb.java
  src/main/java/hudson/plugins/git/browser/GitBlitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/Gitiles.java
  src/main/java/hudson/plugins/git/browser/ViewGitWeb.java
  src/main/resources/hudson/plugins/git/Messages.properties
  src/test/java/hudson/plugins/git/browser/AssemblaWebDoCheckURLTest.java
Labels: ShortTerm, bugfix

#852 [GSoC] Addition of unit test for WipeWorkspace extension behavior in GitSCM
  src/test/java/hudson/plugins/git/extensions/impl/WipeWorkspaceTest.java
Labels: test

#851 [GSoC] Add UserIdentityTest to improve code coverage in git-plugin
  src/test/java/hudson/plugins/git/extensions/impl/UserIdentityTest.java
Labels: test

#847 [JENKINS-40529] Prune tags on fetch
  src/main/java/hudson/plugins/git/extensions/impl/PruneStaleTag.java
  src/main/java/jenkins/plugins/git/traits/PruneStaleTagTrait.java
  src/test/java/hudson/plugins/git/extensions/impl/PruneStaleTagTest.java
  src/test/java/org/jenkinsci/plugins/gitclient/TestCliGitAPIImpl.java
Labels: feature
