Repository jenkinsci/git-plugin, pull requests merged in 2020-09, with the labels that each got.

#942 [JENKINS-37263] Prefer remote references for checkout
  src/main/java/hudson/plugins/git/util/DefaultBuildChooser.java
  src/test/java/hudson/plugins/git/util/DefaultBuildChooserTest.java
Labels: bugfix

#955 Hamcrest asseertions, more tests, consistent formatting
  src/main/java/hudson/plugins/git/util/DefaultBuildChooser.java
  src/test/java/hudson/plugins/git/util/DefaultBuildChooserTest.java
Labels: test

#957 Catch IOException by printCommitMessageToLog
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: bugfix

#958 [JENKINS-63539] Expand repo cache lookup for better size estimates
  src/main/java/jenkins/plugins/git/GitToolChooser.java
  src/test/java/jenkins/plugins/git/GitToolChooserTest.java
Labels: feature

#961 Early exit testHideCredentials if Windows long path
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: test

#964 [JENKINS-63744] Show changeset author with displayName, not toString
  src/main/resources/hudson/plugins/git/GitChangeSetList/index.jelly
  src/main/resources/hudson/plugins/git/GitSCM/project-changes.jelly
Labels: bugfix

#968 Use ExtendedHierarchicalStreamReader
  .mvn/extensions.xml
  pom.xml
  src/main/java/hudson/plugins/git/ObjectIdConverter.java
Labels: dependencies

#967 [JENKINS-62261] Allow URL validation to accept custom TLDs
  src/main/java/hudson/plugins/git/browser/AssemblaWeb.java
  src/main/java/hudson/plugins/git/browser/GitBlitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/Gitiles.java
  src/main/java/hudson/plugins/git/browser/ViewGitWeb.java
  src/test/java/hudson/plugins/git/browser/AssemblaWebDoCheckURLTest.java
Labels: bugfix

#963 [JENKINS-63727] GitToolChooser should not recommend JGit if Git Publisher is present
  pom.xml
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
Labels: bugfix

#969 Add GitPublisher freestyle test
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/jenkins/plugins/git/GitToolChooser.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
Labels: test

#972 Require git client plugin 3.5.1
  pom.xml
Labels: dependencies
