Repository jenkinsci/git-plugin, pull requests merged in 2020-01, with the labels that each got.

#807 Document Git Publisher and rebase before push
  README.adoc
Labels: documentation

#808 [JENKINS-60617] Include git step examples
  README.adoc
  pom.xml
  src/main/resources/jenkins/plugins/git/GitStep/help.html
Labels: bugfix

#809 [JENKINS-26660] Describe the 'submodule clean' option
  README.adoc
Labels: documentation

#810 [JENKINS-59868] Add information about missing working directory to Polling logs
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: feature

#811 [JENKINS-30600] Warn in log when DecoratedLauncher is in use
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: ShortTerm, feature

#815 Add gitter chat badge to docs
  README.adoc
Labels: documentation

#816 [JENKINS-60574] Fix InjectedTest hang from JTH 2.57
  pom.xml
Labels: test

#817 Use parent pom 3.56 to fix JTH test issue
  pom.xml
Labels: dependencies

#818 [JENKINS-42860] Whitelist pipeline safe getters
  pom.xml
  src/main/java/hudson/plugins/git/BranchSpec.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitSCMBackwardCompatibility.java
  src/main/java/hudson/plugins/git/SubmoduleConfig.java
  src/main/java/hudson/plugins/git/UserMergeOptions.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/extensions/impl/CloneOption.java
  src/main/java/hudson/plugins/git/extensions/impl/LocalBranch.java
  src/main/java/hudson/plugins/git/extensions/impl/PreBuildMerge.java
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPath.java
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
  src/main/java/hudson/plugins/git/extensions/impl/SubmoduleOption.java
Labels: feature

#819 Use docs from tagged release
  pom.xml
Labels: documentation

#821 [JENKINS-38608] Report clearly if the Repo URL is empty
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: bugfix

#826 [JENKINS-57660] Addition of a doCheck validation method for invalid refSpec
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/resources/hudson/plugins/git/Messages.properties
  src/test/java/hudson/plugins/git/UserRemoteConfigRefSpecTest.java
Labels: ShortTerm, bugfix
