Repository jenkinsci/git-plugin, pull requests merged in 2020-02, with the labels that each got.

#836 Refine the web hook and notify commit docs
  README.adoc
Labels: documentation

#837 Add docs from wiki
  README.adoc
Labels: documentation

#829 Allow disabling of multi candidate scheduling
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/extensions/GitSCMExtension.java
  src/main/java/hudson/plugins/git/extensions/impl/BuildSingleRevisionOnly.java
  src/main/resources/hudson/plugins/git/extensions/impl/BuildSingleRevisionOnly/help.html
  src/test/java/hudson/plugins/git/extensions/impl/BuildSingleRevisionOnlyTest.java
Labels: ShortTerm, feature

#838 Fix various documentation errors
  README.adoc
Labels: documentation

#842 Exclude jsoup from git plugin jpi packaging
  pom.xml
Labels: dependencies

#776 JENKINS-59828: Expand support for the SCM API 2.0 to support tags
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
Labels: feature
