Repository jenkinsci/git-plugin, pull requests merged in 2020-07, with the labels that each got.

#904 [JENKINS-49757] Remove redundant fetch
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitChangeSetTruncateTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: feature

#928 [JENKINS-62223] Add online help for several fields
  .github/pull_request_template.md
  Jenkinsfile
  README.adoc
  src/main/resources/hudson/plugins/git/GitSCM/help-allowSecondFetch.html
  src/main/resources/hudson/plugins/git/GitSCM/help-gitTool.html
  src/main/resources/hudson/plugins/git/GitSCM/help-hideCredentials.html
  src/main/resources/hudson/plugins/git/UserRemoteConfig/help-credentialsId.html
  src/main/resources/hudson/plugins/git/browser/CGit/help-repoUrl.html
  src/main/resources/hudson/plugins/git/browser/GogsGit/help-repoUrl.html
  src/main/resources/hudson/plugins/git/extensions/impl/GitLFSPull/help.html
  src/test/java/jenkins/plugins/git/GitSCMJCasCCompatibilityTest.java
  src/test/resources/jenkins/plugins/git/gitscm-casc.yaml
Labels: documentation

#934 Remove subsetConfiguration parameter to enable incremental build
  Jenkinsfile
Labels: skip-changelog
