Repository jenkinsci/git-plugin, pull requests merged in 2020-11, with the labels that each got.

#994 Better describe the BuildData workaround
  README.adoc
Labels: documentation

#997 Remove test dependency on multiple-scms plugin
  pom.xml
  src/test/java/hudson/plugins/git/GitStatusMultipleSCMTest.java
  src/test/java/hudson/plugins/git/MultipleSCMTest.java
Labels: bugfix

#998 [JENKINS-64149] User exclusion compares strings, not wildcards
  README.adoc
  src/main/resources/hudson/plugins/git/extensions/impl/UserExclusion/help-excludedUsers.html
Labels: documentation

#1001 [JENKINS-64026] Only add git tag action if admin enables it
  README.adoc
  images/git-global-configuration.png
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/resources/hudson/plugins/git/GitPublisher/config.jelly
  src/main/resources/hudson/plugins/git/GitSCM/global.jelly
  src/main/resources/hudson/plugins/git/GitSCM/help-addGitTagAction.html
  src/main/resources/hudson/plugins/git/GitTagAction/tagForm.jelly
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitTagActionTest.java
  src/test/java/jenkins/plugins/git/GitSCMJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GitStepTest.java
  src/test/resources/jenkins/plugins/git/gitscm-casc.yaml
Labels: feature

#1006 [JENKINS-64320] Fix git step default branch docs
  src/main/resources/jenkins/plugins/git/GitStep/help-branch.html
Labels: bugfix, documentation

#1009 Replace commons validator
  pom.xml
  src/main/java/hudson/plugins/git/browser/AssemblaWeb.java
  src/main/java/hudson/plugins/git/browser/GitRepositoryBrowser.java
Labels: dependencies

#1005 Require Jenkins 2.222.4 as minimum version
  pom.xml
Labels: dependencies
