Repository jenkinsci/git-plugin, pull requests merged in 2021-12, with the labels that each got.

#1179 Remove divBasedFormLayout conditionals
  src/main/resources/hudson/plugins/git/GitPublisher/config.jelly
  src/main/resources/hudson/plugins/git/GitTagAction/tagForm.jelly
Labels: chore

#1187 Prevent unused Java import statements
  pom.xml
  src/main/java/hudson/plugins/git/GitBranchTokenMacro.java
  src/main/java/hudson/plugins/git/GitRevisionBuildParameters.java
  src/main/java/hudson/plugins/git/RevisionParameterAction.java
  src/main/java/hudson/plugins/git/extensions/impl/BuildChooserSetting.java
  src/main/java/hudson/plugins/git/extensions/impl/IgnoreNotifyCommit.java
  src/main/java/hudson/plugins/git/extensions/impl/UserIdentity.java
  src/main/java/hudson/plugins/git/util/RevCommitRepositoryCallback.java
  src/main/java/jenkins/plugins/git/GitSCMHeadMixin.java
  src/main/java/jenkins/plugins/git/traits/SparseCheckoutPathsTrait.java
  src/test/java/hudson/plugins/git/CliGitSCMTriggerLocalPollTest.java
  src/test/java/hudson/plugins/git/JGitSCMTriggerLocalPollTest.java
  src/test/java/hudson/plugins/git/RevisionParameterActionTest.java
  src/test/java/hudson/plugins/git/SubmoduleConfigTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/traits/DiscoverOtherRefsTraitTest.java
Labels: skip-changelog, dependencies, test

#1190 Add SortPom to build
  pom.xml
Labels: dependencies
