Repository jenkinsci/git-plugin, pull requests merged in 2021-11, with the labels that each got.

#1167 [JENKINS-67045] Migrate deprecated call to `Promotion#getTarget`
  src/main/java/hudson/plugins/git/GitRevisionBuildParameters.java
Labels: chore

#1168 Use parent pom 4.30
  pom.xml
Labels: skip-changelog, dependencies

#1171 Use standard Jenkins buttons for better compatibility
  src/main/resources/hudson/plugins/git/BranchSpec/config.groovy
  src/main/resources/hudson/plugins/git/GitSCM/config.jelly
  src/main/resources/hudson/plugins/git/UserRemoteConfig/config.groovy
Labels: bugfix

#1173 Reduce windows test time
  pom.xml
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: test

#1177 Automate some pull request labeling
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: skip-changelog
