Repository jenkinsci/git-plugin, pull requests merged in 2021-07, with the labels that each got.

#1098 Remove outdated calls
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
Labels: skip-changelog

#1101 Remove caffeine dependency
  pom.xml
Labels: chore

#1107 Don't modify submoduleCfg definition
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: skip-changelog

#1108 [JENKINS-66149] Warn against checkout to subdir extension in Pipeline
  src/main/resources/hudson/plugins/git/extensions/impl/RelativeTargetDirectory/help-relativeTargetDir.html
Labels: bugfix

#1104 [JENKINS-28335] - Git username and password binding (GSoC 2021)
  README.adoc
  images/git-credentials-usernamepassword-binding-freestyle-project.png
  images/git-credentials-usernamepassword-binding-pipline-job.png
  pom.xml
  src/main/java/jenkins/plugins/git/GitCredentialBindings.java
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
  src/main/resources/jenkins/plugins/git/GitUsernamePasswordBinding/config.jelly
  src/main/resources/jenkins/plugins/git/GitUsernamePasswordBinding/help-credentialsId.html
  src/main/resources/jenkins/plugins/git/GitUsernamePasswordBinding/help-gitToolName.html
  src/main/resources/jenkins/plugins/git/Messages.properties
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: feature

#1114 Simplify Linux test result search
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: test

#1113 [JENKINS-66214] Fix gitUsernamePassword capitalization
  README.adoc
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
  src/main/resources/jenkins/plugins/git/GitUsernamePasswordBinding/help-credentialsId.html
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: bugfix

#1112 [JENKINS-66212] Fix getLastBuild null pointer exception
  src/main/java/hudson/plugins/git/util/BuildData.java
  src/test/java/hudson/plugins/git/util/BuildDataTest.java
Labels: bugfix

#1117 Use plugin bom for credentials binding plugin
  pom.xml
Labels: dependencies

#1120 Narrow the withCredentials example
  README.adoc
  src/main/resources/jenkins/plugins/git/GitUsernamePasswordBinding/help-credentialsId.html
Labels: documentation

#1121 Require POST for tool name API call
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
Labels: chore
