Repository jenkinsci/git-plugin, pull requests merged in 2021-04, with the labels that each got.

#1061 [JENKINS-65123] Always sets GIT_URL
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: bugfix

#1064 [JENKINS-38699] Only check for git repo in current workspace dir
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitToolChooser.java
Labels: bugfix

#1065 Correct capitalization of Snippet Generator
  README.adoc
  src/main/resources/hudson/plugins/git/GitSCM/help.html
  src/main/resources/jenkins/plugins/git/GitStep/help.html
Labels: documentation

#1067 [JENKINS-38676] Add repository to git build data summary
  src/main/resources/hudson/plugins/git/util/BuildData/index.jelly
  src/main/resources/hudson/plugins/git/util/BuildData/summary.jelly
Labels: feature

#1072 Correct spelling errors
  src/main/resources/hudson/plugins/git/GitSCM/help-disableGitToolChooser.html
  src/main/resources/hudson/plugins/git/GitSCM/help-extensions.html
Labels: bugfix

#1073 Improving a unit test in GitSCMTest
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: test

#1077 [JENKINS-65398] Terminology update
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/util/BuildChooser.java
  src/main/java/hudson/plugins/git/util/BuildChooserContext.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
  src/main/resources/hudson/plugins/git/extensions/impl/CheckoutOption/help-timeout.html
  src/main/resources/hudson/plugins/git/extensions/impl/CloneOption/help-reference.html
Labels: documentation

#1071 [JENKINS-39905] Add repo browser for on-premise Bitbucket Server
  README.adoc
  images/git-repository-browser-bitbucketserver.png
  src/main/java/hudson/plugins/git/browser/BitbucketServer.java
  src/main/resources/hudson/plugins/git/browser/BitbucketServer/config.jelly
  src/main/resources/hudson/plugins/git/browser/BitbucketServer/config_it.properties
  src/main/resources/hudson/plugins/git/browser/BitbucketServer/help-repoUrl.html
  src/test/java/hudson/plugins/git/browser/BitbucketServerTest.java
  src/test/java/jenkins/plugins/git/BrowsersJCasCCompatibilityTest.java
  src/test/resources/jenkins/plugins/git/browsers-casc.yaml
Labels: feature
