Repository jenkinsci/git-plugin, pull requests merged in 2021-02, with the labels that each got.

#1031 Add help for deprecated submodule config generator
  src/main/resources/hudson/plugins/git/GitSCM/help-doGenerateSubmoduleConfigurations.html
  src/main/resources/hudson/plugins/git/GitSCM/help-submoduleCfg.html
  src/main/resources/hudson/plugins/git/SubmoduleConfig/help-branches.html
  src/main/resources/hudson/plugins/git/SubmoduleConfig/help-submoduleName.html
Labels: documentation

#1042 Provide online help for submodule threads arg
  src/main/resources/hudson/plugins/git/extensions/impl/SubmoduleOption/help-threads.html
Labels: documentation

#1043 [JENKINS-62052] Remove submodule configurator to improve pipeline snippets
  README.adoc
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/SubmoduleConfig.java
  src/main/java/hudson/plugins/git/extensions/impl/SubmoduleOption.java
  src/main/java/jenkins/plugins/git/GitSCMBuilder.java
  src/main/java/jenkins/plugins/git/GitStep.java
  src/main/resources/hudson/plugins/git/GitSCM/help-doGenerateSubmoduleConfigurations.html
  src/main/resources/hudson/plugins/git/GitSCM/help-submoduleCfg.html
  src/main/resources/hudson/plugins/git/SubmoduleConfig/help-branches.html
  src/main/resources/hudson/plugins/git/SubmoduleConfig/help-submoduleName.html
  src/main/resources/hudson/plugins/git/extensions/impl/SubmoduleOption/config.groovy
  src/test/java/hudson/plugins/git/AbstractGitProject.java
  src/test/java/hudson/plugins/git/AbstractGitTestCase.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitSCMUnitTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/hudson/plugins/git/GitTagActionTest.java
  src/test/java/hudson/plugins/git/SubmoduleCombinatorTest.java
  src/test/java/hudson/plugins/git/SubmoduleConfigTest.java
  src/test/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowserTest.java
  src/test/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowserXSSTest.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/jenkins/plugins/git/GitJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/GitTagMessageExtensionTest.java
Labels: breaking

#1044 Remove submodule config debris from two tests
  src/test/java/hudson/plugins/git/extensions/impl/PruneStaleTagPipelineTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
Labels: test

#1047 Remove unused imports
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/SubmoduleConfig.java
  src/main/java/hudson/plugins/git/extensions/impl/SubmoduleOption.java
  src/main/java/jenkins/plugins/git/GitSCMBuilder.java
  src/main/java/jenkins/plugins/git/GitStep.java
  src/main/java/jenkins/plugins/git/traits/CleanAfterCheckoutTrait.java
  src/main/java/jenkins/plugins/git/traits/CleanBeforeCheckoutTrait.java
  src/test/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowserXSSTest.java
  src/test/java/hudson/plugins/git/browser/casc/GitLabConfiguratorTest.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/ChangelogToBranchTest.java
  src/test/java/hudson/plugins/git/extensions/impl/PathRestrictionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/WipeWorkspaceTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitBranchSCMHeadTest.java
  src/test/java/jenkins/plugins/git/GitJCasCCompatibilityTest.java
  src/test/java/jenkins/plugins/git/GitSCMBuilderTest.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/GitTagMessageExtensionTest.java
Labels: skip-changelog

#1050 [JENKINS-53346] Return correct map from additional checkout scm calls
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: bugfix
