Repository jenkinsci/git-plugin, pull requests merged in 2022-10, with the labels that each got.

#1336 [JENKINS-69862] remove inline JS for URL validation
  src/main/resources/hudson/plugins/git/GitPublisher/config.jelly
Labels: bugfix, hacktoberfest-accepted

#1340 Rely on spotbugs from parent pom
  pom.xml
Labels: dependencies

#1341 [JENKINS-69861] remove inline onclick handlers
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/config.jelly
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
Labels: chore

#1344 [JENKINS-69911] - GitTagAction/tagForm.jelly javascript un-inlined.
  src/main/resources/hudson/plugins/git/GitTagAction/tagForm.jelly
  src/main/resources/hudson/plugins/git/GitTagAction/update-row.js
Labels: chore, hacktoberfest, hacktoberfest-accepted

#1346 Remove wasted space from branch spec and repository URL data entry
  src/main/resources/hudson/plugins/git/BranchSpec/config.groovy
  src/main/resources/hudson/plugins/git/UserRemoteConfig/config.groovy
Labels: bugfix

#1347 Fix NPE in GitHooksTest on Windows
  src/test/java/hudson/plugins/git/GitHooksTest.java
Labels: test

#1343 Require Jenkins 2.346.3 or newer
  Jenkinsfile
  pom.xml
  src/test/java/hudson/plugins/git/GitChangeSetTest.java
Labels: chore

#1348 Split GitSCMTest for parallel execution on multiple cores
  pom.xml
  src/test/java/hudson/plugins/git/GitSCMSlowTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: test
