Repository jenkinsci/git-plugin, pull requests merged in 2022-11, with the labels that each got.

#1352 Simplify pom
  pom.xml
Labels: chore

#1353 [JENKINS-70021] fix tests when gpg signing is enabled
  pom.xml
  src/test/java/hudson/plugins/git/AbstractGitTestCase.java
  src/test/java/hudson/plugins/git/GitChangeSetTruncateTest.java
  src/test/java/hudson/plugins/git/GitHooksTest.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMSlowTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/TestGitRepo.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/UserIdentityTest.java
  src/test/java/hudson/plugins/git/util/GitUtilsTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/AbstractGitTagMessageExtensionTest.java
Labels: test

#1357 Remove unused `essentials.yml`
  essentials.yml
Labels: chore

#1360 Remove unnecessary SpotBugs exclusions
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/main/java/hudson/plugins/git/GitChangeSetList.java
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitTagAction.java
  src/main/java/hudson/plugins/git/SubmoduleCombinator.java
  src/main/java/hudson/plugins/git/extensions/impl/PreBuildMerge.java
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSourceRequest.java
  src/main/java/jenkins/plugins/git/GitToolChooser.java
  src/main/java/jenkins/plugins/git/traits/GitSCMExtensionTrait.java
  src/main/java/jenkins/plugins/git/traits/GitSCMExtensionTraitDescriptor.java
Labels: chore

#1305 [JENKINS-42971] GitSCMFileSystem consumes environment and expands branch name
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
Labels: feature, test

#1362 [JENKINS-70158] Fix null pointer exception in GitSCMFileSystem
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/test/java/jenkins/plugins/git/GitSCMFileSystemTest.java
Labels: bugfix, test

#1365 Allow tests with shallow clone of source repository
  src/test/java/hudson/plugins/git/browser/GitRepositoryBrowserTest.java
Labels: test
