Repository jenkinsci/git-plugin, pull requests merged in 2022-01, with the labels that each got.

#1194 Simplify test harness assertions
  src/test/java/hudson/plugins/git/CredentialsUserRemoteConfigTest.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/browser/GitLabWorkflowTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CheckoutOptionWorkflowTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionHonorRefSpecTest.java
  src/test/java/jenkins/plugins/git/GitStepTest.java
  src/test/java/jenkins/plugins/git/GitToolChooserTest.java
Labels: test

#1202 [JENKINS-67491] Do not fail build on auth exception
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/test/java/hudson/plugins/git/GitChangeSetTest.java
Labels: bugfix

#1207 initialize the test repos without a default template
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: test

#1214 Revert equalsverifier 3.9
  pom.xml
Labels: dependencies
