Repository jenkinsci/git-plugin, pull requests merged in 2022-07, with the labels that each got.

#1299 Integrate SECURITY-284 fix
  README.adoc
  pom.xml
  src/main/java/hudson/plugins/git/ApiTokenPropertyConfiguration.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/config.jelly
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/help-tokens.html
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.css
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
  src/test/java/hudson/plugins/git/AbstractGitProject.java
  src/test/java/hudson/plugins/git/GitStatusCrumbExclusionTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/hudson/plugins/git/security/ApiTokenPropertyConfigurationTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: dependencies, documentation, test

#1295 Explicit default branch
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: test

#1237 Disable local git hooks by default.
  README.adoc
  images/git-security-configuration.png
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitHooksConfiguration.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/resources/jenkins/plugins/git/GitHooksConfiguration/config.jelly
  src/main/resources/jenkins/plugins/git/GitHooksConfiguration/help-allowedOnAgents.html
  src/main/resources/jenkins/plugins/git/GitHooksConfiguration/help-allowedOnController.html
  src/test/java/hudson/plugins/git/GitHooksTest.java
  src/test/java/jenkins/plugins/git/GitHooksConfigurationTest.java
Labels: feature, dependencies, documentation, test
