Repository jenkinsci/git-plugin, pull requests merged in 2022-12, with the labels that each got.

#1368 Reincrementalify
  pom.xml
Labels: dependencies

#1375 Add conditional build step plugin to fix BOM tests
  pom.xml
Labels: dependencies

#1374 Remove credentials "Add" button workaround
  src/main/resources/hudson/plugins/git/UserRemoteConfig/config.groovy
  src/main/resources/hudson/plugins/git/UserRemoteConfig/config.jelly
Labels: chore

#1386 Delete unreliable notifyCommit test
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: test
