Repository jenkinsci/git-plugin, pull requests merged in 2022-08, with the labels that each got.

#1306 Add Tuleap to the list of tools supporting to send a push notification
  README.adoc
Labels: documentation

#1307 Add link for the access token requirement
  src/main/java/hudson/plugins/git/GitStatus.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
Labels: documentation

#1308 Require Jenkins 2.332.4 or newer
  pom.xml
Labels: dependencies

#1315 [JENKINS-69393] Quote the '&' in curl example
  README.adoc
Labels: documentation

#1317 Integrating the security fixes in master from V4.11.x
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: test
