Repository jenkinsci/git-plugin, pull requests merged in 2022-04, with the labels that each got.

#1246 Add warning about unexpected default branch name.
  CONTRIBUTING.adoc
Labels: documentation

#1249 Test with Java 17 in addition to Java 11 and Java 8
  Jenkinsfile
  pom.xml
  src/main/java/hudson/plugins/git/extensions/GitSCMExtension.java
Labels: dependencies

#1255 Work around JENKINS-67309
  src/test/java/jenkins/plugins/git/GlobalLibraryWithModernJCasCCompatibilityTest.java
Labels: test
