Repository jenkinsci/git-plugin, pull requests merged in 2022-05, with the labels that each got.

#1260 Fix minor typo in documentation.
  README.adoc
Labels: documentation

#1272 Merge back SECURITY-2478 fix into default branch
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/Security2478Test.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/PruneStaleTagPipelineTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/AbstractGitTagMessageExtensionTest.java
Labels: dependencies, test

#1273 [JENKINS-68562] Fix Git checkouts for controllers running on Windows
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMUnitTest.java
Labels: bugfix

#1274 [JENKINS-57023] Switch dep from `workflow-cps-global-lib` to `pipeline-groovy-lib`
  pom.xml
Labels: dependencies
