Repository jenkinsci/git-plugin, pull requests merged in 2023-07, with the labels that each got.

#1477 Document additional notifyCommit parameters
  README.adoc
Labels: documentation

#1480 Fix erratic GitStatusTest
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/test/java/hudson/plugins/git/GitStatusSimpleTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
Labels: test

#1443 Escape special characters for GitUsernamePasswordBinding in withCrede…
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: bugfix

#1485 Enable missing tests
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/SubmoduleConfigTest.java
Labels: test

#1486 Replace public repo with releases repo
  pom.xml
Labels: chore

#1487 Pass POST parameters in body rather than query string
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
Labels: internal

#1490 Use plugin bom 2278.v47b_4508e256a
  pom.xml
Labels: dependencies
