Repository jenkinsci/git-plugin, pull requests merged in 2023-11, with the labels that each got.

#1525 Accept test run on any agent
  src/test/java/hudson/plugins/git/Security2478Test.java
Labels: tests

#1527 Documentation - clarify when certain env variables are being set
  README.adoc
Labels: documentation

#1526 Remove `CheckoutOption.requiresWorkspaceForPolling` override
  src/main/java/hudson/plugins/git/extensions/impl/CheckoutOption.java
Labels: chore

#1528 Add global configuration as code example
  README.adoc
Labels: documentation
