Repository jenkinsci/git-plugin, pull requests merged in 2023-01, with the labels that each got.

#1389 Check monthly for actions updates
  .github/dependabot.yml
Labels: skip-changelog

#1393 Do not show stack trace when printing a missing commit
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: bugfix

#1396 Use JDK 11 for coverage reporting
  Jenkinsfile
Labels: chore

#1399 Miscellaneous low-risk code cleanup
  src/main/java/hudson/plugins/git/GitChangeLogParser.java
  src/main/java/hudson/plugins/git/RemoteConfigConverter.java
  src/main/java/hudson/plugins/git/browser/GitBlitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/ViewGitWeb.java
  src/main/java/hudson/plugins/git/util/AncestryBuildChooser.java
  src/test/java/hudson/plugins/git/AbstractGitRepository.java
  src/test/java/hudson/plugins/git/GitChangeSetTest.java
  src/test/java/hudson/plugins/git/GitChangeSetTruncateTest.java
  src/test/java/hudson/plugins/git/GitHooksTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/SCMTriggerTest.java
  src/test/java/hudson/plugins/git/browser/GitBlitRepositoryBrowserTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
Labels: test

#1400 Reduce usage of third-party libraries
  src/main/java/hudson/plugins/git/ApiTokenPropertyConfiguration.java
  src/main/java/hudson/plugins/git/BranchSpec.java
  src/main/java/hudson/plugins/git/GitChangeLogParser.java
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/GitSCMBackwardCompatibility.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/browser/GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/extensions/impl/PathRestriction.java
  src/main/java/hudson/plugins/git/util/AncestryBuildChooser.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitHooksConfiguration.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/MergeWithGitSCMExtension.java
  src/main/java/jenkins/plugins/git/traits/DiscoverOtherRefsTrait.java
  src/main/java/jenkins/plugins/git/traits/RefSpecsSCMSourceTrait.java
  src/main/java/jenkins/plugins/git/traits/RemoteNameSCMSourceTrait.java
Labels: chore

#1401 Fixups to #1399
  src/main/java/hudson/plugins/git/GitChangeLogParser.java
Labels: skip-changelog

#1405 Skip 2 tests if prune on fetch is enabled globally
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
Labels: test
