Repository jenkinsci/git-plugin, pull requests merged in 2023-05, with the labels that each got.

#1448 Replace Prototype.js with native JavaScript
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
  src/main/resources/hudson/plugins/git/GitTagAction/update-row.js
Labels: enhancement

#1449 Enable SCMTriggerTests
  src/test/java/hudson/plugins/git/SCMTriggerTest.java
Labels: test

#1450 Fixup to #1448
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
Labels: skip-changelog

#1453 Fix broken tests
  pom.xml
Labels: bugfix, dependencies

#1455 Use consistent JenkinsRule variable name
  src/test/java/hudson/plugins/git/AbstractGitProject.java
  src/test/java/hudson/plugins/git/AbstractGitTestCase.java
  src/test/java/hudson/plugins/git/GitChangeSetBadArgsTest.java
  src/test/java/hudson/plugins/git/GitChangeSetTest.java
  src/test/java/hudson/plugins/git/GitHooksTest.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMSlowTest.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/hudson/plugins/git/GitStatusTheoriesTest.java
  src/test/java/hudson/plugins/git/Security2478Test.java
  src/test/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowserXSSTest.java
  src/test/java/hudson/plugins/git/extensions/GitSCMExtensionTest.java
  src/test/java/hudson/plugins/git/extensions/impl/BuildSingleRevisionOnlyTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionDepthTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionHonorRefSpecTest.java
  src/test/java/hudson/plugins/git/security/ApiTokenPropertyConfigurationTest.java
  src/test/java/hudson/plugins/git/util/GitUtilsJenkinsRuleTest.java
  src/test/java/jenkins/plugins/git/GitBranchSCMHeadTest.java
  src/test/java/jenkins/plugins/git/GitHooksConfigurationTest.java
  src/test/java/jenkins/plugins/git/GitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitToolChooserTest.java
  src/test/java/jenkins/plugins/git/ModernScmTest.java
  src/test/java/jenkins/plugins/git/traits/GitSCMExtensionTraitTest.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/AbstractGitTagMessageExtensionTest.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/GitTagMessageExtensionTest.java
Labels: chore
