Repository jenkinsci/git-plugin, pull requests merged in 2024-05, with the labels that each got.

#1555 [JENKINS-72044] Fix withCredentials directory separators on Windows
  src/main/java/jenkins/plugins/git/GitUsernamePasswordBinding.java
Labels: bug

#1581 Require Jenkins 2.426.3 or newer
  pom.xml
Labels: chore

#1584 Fix JavaDoc Typo
  src/main/java/hudson/plugins/git/GitSCM.java
Labels: documentation
