Repository jenkinsci/git-plugin, pull requests merged in 2024-07, with the labels that each got.

#1609 Use jenkins.baseline property to avoid BOM update mistakes
  pom.xml
Labels: dependencies, chore

#1610 Require Jenkins 2.440.3 or newer
  pom.xml
Labels: dependencies, chore

#1597 Generate and revoke access tokens with standard UI components
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/config.jelly
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.css
  src/main/resources/hudson/plugins/git/ApiTokenPropertyConfiguration/resources.js
Labels: rfe

#1565 [JENKINS-4162] Optionally report the most recent commit as the changelog of a new build
  README.adoc
  images/git-extension-for-first-build.png
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/extensions/impl/FirstBuildChangelog.java
  src/main/java/jenkins/plugins/git/traits/FirstBuildChangelogTrait.java
  src/main/resources/hudson/plugins/git/extensions/impl/FirstBuildChangelog/help.html
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: enhancement

#1613 Allow tests with containers
  Jenkinsfile
Labels: test

#1611 [JENKINS-73506] Enforce use of TLS in FIPS mode
  pom.xml
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/resources/hudson/plugins/git/Messages.properties
  src/test/java/hudson/plugins/git/FIPSModeUrlCheckTest.java
  src/test/resources/ssh-keys/id_rsa
  src/test/resources/ssh-keys/id_rsa.pub
Labels: rfe
