Repository jenkinsci/git-plugin, pull requests merged in 2024-06, with the labels that each got.

#1590 Do not assume `HttpResponse` is a functional interface
  src/main/java/hudson/plugins/git/GitStatus.java
Labels: chore

#1593 Remove two tests that depend on assembla.com
  src/test/java/hudson/plugins/git/browser/AssemblaWebDoCheckURLTest.java
Labels: tests, test

#1594 Remove outdated test conditionals
  src/test/java/hudson/plugins/git/GitHooksTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: tests

#1598 Enable Jenkins Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

#1599 Use modern syntax in git step online help
  src/main/resources/jenkins/plugins/git/GitStep/help.html
  src/main/resources/jenkins/plugins/git/GitStep/help_ja.html
Labels: documentation
