Repository jenkinsci/git-plugin, pull requests merged in 2024-09, with the labels that each got.

#1655 Remove mramonleon as a plugin maintainer
  pom.xml
Labels: chore

#1656 Use a longer password in the automated test
  src/test/java/hudson/plugins/git/FIPSModeUrlCheckTest.java
Labels: test

#1649 [JENKINS-73677] Decorate GitClient after adding credentials
  src/main/java/hudson/plugins/git/GitSCM.java
  src/test/java/hudson/plugins/git/GitSCMTest.java
Labels: tests
