Repository jenkinsci/git-plugin, pull requests merged in 2024-08, with the labels that each got.

#1615 [JENKINS-73506] Reject fetch requests that use credentials with HTTP in FIPS mode
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/resources/jenkins/plugins/git/Messages.properties
  src/test/java/jenkins/plugins/git/FIPSModeSCMSourceTest.java
Labels: rfe

#1620 Adapt git browsers for Jetty 12 EE 9 transition
  src/main/java/hudson/plugins/git/browser/AssemblaWeb.java
  src/main/java/hudson/plugins/git/browser/FisheyeGitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/GitBlitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/Gitiles.java
  src/main/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowser.java
  src/main/java/hudson/plugins/git/browser/ViewGitWeb.java
Labels: chore

#1621 Move testDoNotifyCommitWithInvalidApiToken and use JenkinsRule
  src/test/java/hudson/plugins/git/GitSCMTest.java
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
  src/test/java/jenkins/plugins/git/GitStepTest.java
Labels: tests

#1623 Remove mock object test replaced in earlier commit
  src/test/java/hudson/plugins/git/GitStatusTest.java
  src/test/java/hudson/plugins/git/GitStepTest.java
Labels: tests

#1206 Use relative URLs for documentation images (images:/ to images:)
  README.adoc
Labels: documentation

#1625 [JENKINS-73568] rewrite the tests using RealJenkinsRule so test doesn't need to be skipped depending on Jenkins core version"
  pom.xml
  src/test/java/hudson/plugins/git/FIPSModeUrlCheckTest.java
  src/test/java/jenkins/plugins/git/FIPSModeSCMSourceTest.java
Labels: dependencies, tests

#1626 Restore compatibility for GitSampleRepoRule
  src/test/java/hudson/plugins/git/GitStepTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: tests

#1627 Downgrade matrix-project optional dependency for PCT
  pom.xml
Labels: dependencies, test

#1629 Remove test conditionals for unsupported git versions
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
  src/test/java/jenkins/plugins/git/GitUsernamePasswordBindingTest.java
Labels: tests

#1630 Remove hard-coded java-version in Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: skip-changelog

#1628 Handle `GitException`
  src/main/java/hudson/plugins/git/GitPublisher.java
  src/main/java/hudson/plugins/git/GitSCM.java
  src/main/java/hudson/plugins/git/RevisionParameterAction.java
  src/main/java/hudson/plugins/git/extensions/impl/PreBuildMerge.java
  src/main/java/hudson/plugins/git/util/GitUtils.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitHooksConfiguration.java
  src/main/java/jenkins/plugins/git/GitSCMBuilder.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitStep.java
  src/main/java/jenkins/plugins/git/GitToolChooser.java
  src/test/java/hudson/plugins/git/CheckoutStepSnippetizerTest.java
  src/test/java/hudson/plugins/git/GitChangeSetPluginHistoryTest.java
  src/test/java/hudson/plugins/git/GitChangeSetUtil.java
  src/test/java/hudson/plugins/git/GitPublisherTest.java
  src/test/java/hudson/plugins/git/GitSCMBrowserTest.java
  src/test/java/hudson/plugins/git/GitSCMUnitTest.java
  src/test/java/hudson/plugins/git/GitTagActionTest.java
  src/test/java/hudson/plugins/git/TestGitRepo.java
  src/test/java/hudson/plugins/git/browser/GitRepositoryBrowserTest.java
  src/test/java/hudson/plugins/git/browser/GithubWebTest.java
  src/test/java/hudson/plugins/git/browser/TFS2013GitRepositoryBrowserTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionNoTagsTest.java
  src/test/java/hudson/plugins/git/extensions/impl/CloneOptionShallowDefaultTagsTest.java
  src/test/java/hudson/plugins/git/extensions/impl/SubmoduleOptionTest.java
  src/test/java/hudson/plugins/git/util/AncestryBuildChooserTest.java
  src/test/java/hudson/plugins/git/util/DefaultBuildChooserTest.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceTest.java
  src/test/java/jenkins/plugins/git/CliGitCommand.java
  src/test/java/jenkins/plugins/git/FIPSModeSCMSourceTest.java
  src/test/java/jenkins/plugins/git/GitHooksConfigurationTest.java
  src/test/java/jenkins/plugins/git/GitSCMTelescopeTest.java
  src/test/java/org/jenkinsci/plugins/gittagmessage/AbstractGitTagMessageExtensionTest.java
Labels: bug

#1634 Restore test support for Ubuntu 20.04 with git 2.25
  src/test/java/jenkins/plugins/git/GitSampleRepoRule.java
Labels: tests

#1638 Add sparseCheckout symbol for Pipeline
  README.adoc
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
  src/test/java/hudson/plugins/git/CredentialsUserRemoteConfigTest.java
Labels: rfe

#1641 [JENKINS-71876] Add "NOTIFY_COMMIT_ACCESS_CONTROL" examples
  README.adoc
Labels: documentation

#1642 [JENKINS-73676] Allow users with Job/CONFIGURE permission to edit remote URL
  src/main/java/jenkins/plugins/git/GitSCMSource.java
Labels: bug

#1647 Fix acceptance tests by reverting capitalization change
  src/main/java/hudson/plugins/git/extensions/impl/SparseCheckoutPaths.java
Labels: tests
