Repository jenkinsci/git-plugin, pull requests merged in 2025-08, with the labels that each got.

#1789 Replace Commons Lang 2 with Commons Lang 3
  pom.xml
  src/main/java/hudson/plugins/git/GitChangeSet.java
  src/main/java/hudson/plugins/git/GitStatus.java
  src/main/java/hudson/plugins/git/UserRemoteConfig.java
  src/main/java/hudson/plugins/git/browser/casc/GitLabConfigurator.java
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMBuilder.java
  src/main/java/jenkins/plugins/git/GitSCMFileSystem.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSourceContext.java
  src/main/java/jenkins/plugins/git/traits/DiscoverOtherRefsTrait.java
  src/main/java/jenkins/plugins/git/traits/LocalBranchTrait.java
  src/main/java/jenkins/plugins/git/traits/RemoteNameSCMSourceTrait.java
  src/test/java/hudson/plugins/git/FIPSModeUrlCheckTest.java
Labels: maintenance

#1776 [JENKINS-75854] Do not fetch tags in multibranch Pipeline if "Discover tags" is not enabled
  README.adoc
  src/main/java/jenkins/plugins/git/AbstractGitSCMSource.java
  src/main/java/jenkins/plugins/git/GitSCMSource.java
  src/test/java/jenkins/plugins/git/AbstractGitSCMSourceWantTagsTest.java
Labels: documentation, tests

#1800 Add a tracking pixel with JavaScript
  README.adoc
  images/scarf.js
Labels: documentation
